.spinner {
  border: 16px solid #0042a4;
  border-radius: 50%;
  border-top: 16px solid #3775cf;
  border-right: 16px solid #619bee;
  border-bottom: 16px solid #96bff9;
  border-left: 16px solid #c9e0ff;
  width: 50px;
  margin: auto;
  height: 50px;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
